#
# Bitmain SoC drivers
#
menu "Bitmain SoC drivers"

config BITMAIN_NPU
	bool "Bitmain SoC NPU Controller driver"
	depends on ARCH_BITMAIN && ARCH_BM1880
	help
	  Enables driver for the npu controller on Bitmain SoC.

config BITMAIN_BMDNN
	bool "Bitmain SoC BMDNN driver"
	depends on ARCH_BITMAIN
	help
	  Simulate PCIe driver's interface on SoC.


config BM_SUBSYS_INT_EN
	bool "bm1684/bm1880 subsys interrupt i2s/uart/dma enable"
	default n
	depends on ARCH_BITMAIN
	help
	  enable bm1684/bm1880 i2s/uart/dma interrupts.


config I2C_SUPPRESS_SCL_100KHZ
	bool "DW I2C master mode driver option"
	default n
	depends on I2C_DESIGNWARE_PLATFORM
	help
	  suppress DW I2C master mode 100KHz timing.

endmenu
