#
# Bitmain SoC drivers
#
menu "Bitmain SoC drivers"

config BITMAIN_NPU
	bool "Bitmain SoC NPU Controller driver"
	depends on ARCH_BITMAIN && ARCH_BM1880
	help
	  Enables driver for the npu controller on Bitmain SoC.

config BITMAIN_BMDNN
	bool "Bitmain SoC BMDNN driver"
	depends on ARCH_BITMAIN
	help
	  Simulate PCIe driver's interface on SoC.

config BM1682_MCU_DRV
	bool "bm1682 mcu i2c driver"
	default n
	help
	  Enable mcu i2c driver to implement bm1682 powre flow.

config BM1682_WDT_DRV
	bool "bm1682 watchdog driver"
	default n
	depends on BM1682_MCU_DRV
	help
	  enable watchdog to reset bm1682 if any core hang.

config BM1682_I2C_SLAVE_DRV
	bool "bm1682 i2c slave mode driver"
	default n
	select I2C_SLAVE
	depends on I2C_DESIGNWARE_PLATFORM
	help
	  enable bm1682 i2c0 slave mode.

config BM_SUBSYS_INT_EN
	bool "bm1684/bm1880 subsys interrupt i2s/uart/dma enable"
	default n
	depends on ARCH_BITMAIN
	help
	  enable bm1684/bm1880 i2s/uart/dma interrupts.

config BM_FAN_SPEED
	bool "bm1684 fan driver"
	default n
	help
	  enable bm1684 fan driver

config BM_EFUSE_DRV
	bool "bm efuse driver"
	default n
	depends on ARCH_BITMAIN
	help
	  enable bm efuse driver

config I2C_SUPPRESS_SCL_100KHZ
	bool "DW I2C master mode driver option"
	default n
	depends on I2C_DESIGNWARE_PLATFORM
	help
	  suppress DW I2C master mode 100KHz timing.

endmenu
